/* RESPONSIVIDADE INDEX*/
@media screen and (max-width:820px) {
    .container{
        display: flex;
        flex-direction: column-reverse;
    }
    .introducao h1{
        text-align: center;
    }
    .imagem img{
        width: 300px;
        height: 300px;
        margin-left: 15%;
    }
    .introducao h1::after{
    content: "";
    background:#3D1D12;
    height: 27px;
    width: 210px;
    left: 35%;
    position: absolute;
    animation: eusou 6s ease forwards ;
}
.btn{
    display: flex;
    justify-content: center;
}
}
@media  screen and (max-width:912px) {
     .container{
        display: flex;
        flex-direction: column-reverse;
        
    }
    .introducao h1{
        margin-top: 10%;
        text-align: center;
    }
    .imagem img{
        width: 340px;
        height: 300px;
        margin-left: 15%;
    }
    .introducao p{
        line-height: 35px;
    }
    .btn{
    display: flex;
    justify-content: center;
    margin-top: 1%;
}
.introducao h1::after{
    content: "";
    background:#3D1D12;
    height: 27px;
    width: 200px;
    left: 0;
    position: absolute;
    animation: eusou 6s infinite alternate ;
}
@keyframes eusou{
    0%{
        left: 38%;
    }
    100%{
        left: 63%;
    }
    
}
}
@media screen and (max-width:540px) {
    .introducao p{
    padding: 6px 0px;
    line-height: 22px;
    font-size: 16px;
}
.introducao h1{
    font-size: 18px;
    margin-right: 10px;
}
.introducao h1::after{
    content: "";
    background:#3D1D12;
    height: 27px;
    width: 170px;
    left: 31%;
    position: absolute;
    animation: eusou 6s ease forwards ;
}
@keyframes eusou{
    100%{
        left: 65%;
    }
}

}
@media screen and (max-width:425px) {
   .imagem img{
     width: 200px;
     height: 200px;
   }
    .introducao h1{

        text-align: center;
        color: #ff5b24;
    }
    .introducao p{
        opacity: 0.9;

    }
    .btn{
    display: flex;
    justify-content: center;
}
.introducao h1::after{
    content: "";
    background:#3D1D12;
    height: 27px;
    width: 175px;
    left: 0;
    position: absolute;
    animation: eusou 6s infinite alternate ;
}
.container{
    margin-left: 1%;
}
@keyframes eusou{
    100%{
        left: 48%;
    }
}

}
@media screen and (max-width:390px) {
    
    .introducao h1{
        margin-right: 8px;
    }
    .introducao h1::after{
    content: "";
    background:#3D1D12;
    height: 27px;
    width: 175px;
    left: 0;
    position: absolute;
    animation: eusou 6s infinite alternate ;
}
@keyframes eusou{
    100%{
        left: 48%;
    }
}
}
@media screen and (max-width:280px) {
   nav ul li a{
    font-size: 10px;
   }
    .imagem img{
     width: 125px;
     height: 110px;
   } 
   .introducao p{
    font-size: 15px;
   }
   .introducao h1{
    font-size: 15px;
    text-align: center;
    margin-right: ;
   }
   .introducao h1::after{
    content: "";
    background:#3D1D12;
    height: 20px;
    width: 131px;
    left: -8px;
    position: absolute;
    animation: eusou 4s infinite alternate ;
}
@keyframes eusou{
    100%{
        left: 48%;
    }
}
#git{
     height: 30px;
    width: 100px;
    font-size: 10px;
}
#git span{
    display: flex;
    justify-content: center;
    margin-top: 4%;
    align-items: center;
    font-size: 14px;
}
#email{
     height: 30px;
    width: 100px;
    font-size: 10px;
}
#email span{
    display: flex;
    justify-content: center;
    margin-top: 4%;
    align-items: center;
    font-size: 14px;
}
#git:hover{
    height: 35px;
    width: 120px;
}
#email:hover{
    height: 35px;
    width: 120px;
}
  
}



/* RESPONSIVIDADE PROJETOS*/

@media  screen and (max-width:912px) {
   @keyframes headline{
    100%{
    left: 70%;
    }
    }
    .conteudo{
        display: flex;
        flex-direction: column;  
    }
    .card{
    width: 50%;
    height: 20%;
    margin: 3% 0;
}
.card:hover{
     width: 53%;
    height: 23%;
}
}
@media screen and (max-width:540px) {
@keyframes headline{
    100%{
    left: 63%;
    }
}#sessao2 h1{
    font-size: 25px;
   } 
#sessao2 h1::after{
    content: "";
    height: 50px;
    width: 200px;
    background: #3D1D12;
    left: 39%;
    position: absolute;
    animation: headline 6s ease forwards;
}
.card{
    height: 23%;
}
.card:hover{
    height: 27%;
}
}
@media screen and (max-width:425px) {
    #sessao2 h1{
        font-size: 20px;
        font-weight: bold;
        letter-spacing: -2px;
    }
    @keyframes headline{
    100%{
    left: 63%;
    }
    }
    #sessao2 h1::after{
    content: "";
    height: 30px;
    width: 150px;
    background: #3D1D12;
    left: 39%;
    position: absolute;
    animation: headline 6s ease forwards;
}
}
@media screen and (max-width:393px) {
    #sessao2 h1{
        margin-right: 10px;
    }
    @keyframes headline{
    100%{
    left: 63%;
    }
    }
    #sessao2 h1::after{
    content: "";
    height: 30px;
    width: 137px;
    background: #3D1D12;
    left: 33%;
    position: absolute;
    animation: headline 6s ease forwards;
} 
}

@media screen and (max-width:280px) {
    #sessao2 h1{
        font-size: 17px;
    }
        @keyframes headline{
    100%{
    left: 63%;
    }
    }
    #sessao2 h1::after{
    content: "";
    height: 20px;
    width: 80px;
    background: #3D1D12;
    left: 35%;
    position: absolute;
    animation: headline 6s ease forwards;
}
}

/* RESPONSIVIDADE HABILIDADES*/

@media screen and (max-width:912px) {
  .icone{
    display: flex;
   flex-wrap: wrap;
}
    #texto{
    margin: 0px 50px;
    margin-top: 10%;
  }

}
@media screen and (max-width:540px) {
     .conteuudo .icone div{
    margin:5% 5%;
    width: 100px;
    height: 90px;
    border: 3px solid #33180e;
    border-radius: 7px;
    box-shadow: 10px 10px 15px black; 
}
.icone{
    display: flex;
   flex-wrap: wrap;
}
#html i, #php i, #css i, #js i{
    font-size:70px;
}
#php span{
    font-size: 32px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#sessao3 h1{
font-size: 25px;
}
#texto p{
    font-size: 20px;
    
}
}
@media screen and (max-width:414px) {
    .icone{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 6%;
}
#sessao3 h1{
        font-size: 20px;
        font-weight: bold;
        letter-spacing: -2px;
          
    }

}
@media screen and (max-width:375px) {
      .conteuudo #texto{
    font-weight: bold;
    margin: 0 4%;
    font-size: 20px;
    display: flex;
    align-items: center;
    flex: 50%;
    border: 4px solid #722a06; 
    line-height: 35px;
    padding: 2%;
    border-radius: 17px;
   margin-bottom: 20%;
    box-shadow: 0px 3px 15px rgb(2, 1, 1);
    
}
}